﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/sky-forms.css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css?q={{randomNumber}}">
</head>
<body class="bg-cyan">
		<div class="body body-s">
		
			<form name="chainChequeForm" id="chainChequeForm" action="/api/addEcheque" enctype="multipart/form-data" method="post" class="sky-form">
				<header>Chain Banking</header>
				
				<fieldset>
					<section id="successMsg" style="display:none">
						<a href="" download="">Echeque generated Succesfully. Click to downlod the eCheque</a>
					</section>			
					<section>
						<div class="row">
							<label class="label col col-4">Transfer to</label>
							<div class="col col-8">
								<label class="input">
									<i class="icon-append icon-user"></i>
									<input type="text" name="payee" value="Parvez Rafi" required>
								</label>
							</div>
						</div>
					</section>
					<section>
						<div class="row">
							<label class="label col col-4">Amount</label>
							<div class="col col-8">
								<label class="input">
									<i class="icon-append icon-inr"></i>
									<input type="number" name="amount" value="5000" required>
								</label>
							</div>
						</div>
					</section>
					<section>
						<div class="row">
							<label class="label col col-4">Date</label>
							<div class="col col-8">
								<label class="input">
									<i class="icon-append icon-calendar"></i>
									<input type="date" placeholder="mm/dd/yyyy" value="2017-09-15" name="date" required>
								</label>
							</div>
						</div>
					</section>
					<section>
						<div class="row">
							<div class="col col-4"> Account Payee</div>
							<div class="col col-8">
								<label class="checkbox"><input type="checkbox" name="accountPayee" checked=""><i></i>Yes</label>
							</div>
						</div>
					</section>
					<section>
						<div class="row">
							<label class="label col col-4">Upload Your Signature File</label>
							<div class="col col-8">
								<label for="file" class="input input-file">
							<div class="button"><input type="file" id="sign" name="sign" accept="image/x-png,image/gif,image/jpeg" required onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly=""></label>
							</div>
						</div>
					</section>
					<section id="signPreview">
						<div class="row">
							<label class="label col col-4"></label>
							<div class="col col-8">
								<img src=""/>
							</div>
						</div>
					</section>
					<!--<section>
						<div class="row">
							<label class="label col col-4">Email</label>
							<div class="col col-8">
								<label class="input">
									<i class="icon-append icon-envelope"></i>
									<input type="email" name="email" value="" required>
								</label>
							</div>
						</div>
					</section>-->
				</fieldset>
				<footer>
					<button type="submit" class="button">Generate eCheque</button>
					<input type="hidden" name="fromWeb" value="yes"/>
				</footer>
			</form>
			
		</div>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.validate.js"></script>
		<script type="text/javascript" src="/js/jquery.form.js"></script>
		<script type="text/javascript" src="/js/additional-methods.js"></script>
	<script type="text/javascript" src="/js/index.js?q={{randomNumber}}"></script>
</body>
</html>