<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
    toastarray = {{ messages|raw|json }};
    url={{url|raw|json}};
</script>
<script type="text/javascript">
    $(document).ready(function() {
        displayToasts();
    });
    function displayToasts() {
        if (Array.isArray(toastarray)) {
            toastarray.forEach(function (value) {
                alert(value);
            });
        }
    }
</script>