.bg-cyan {
    background-image: url(/images/bg-cyan.jpg);
}
#signPreview {
	margin:0px;
}
#signPreview img[src=""] {
	display: none;
}
#signPreview img:not([src=""]) {
	display: block;
	margin-bottom: 20px;
	height: 50px;
	max-width: 700px;
}
section#successMsg {
    padding: 10px;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: green;
}
section#successMsg a {
	color: inherit;
}